# datasets and server responses
datasets/
responses/

# tests input and expected output
test/datasets
test/expected_responses

**__pycache__**

# drawio
**.bkp

# latex
**.aux
**.log
**.toc
**/_minted/
